
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');



.timer {
    font-size: 15px;
    position: absolute;
    top: 20px; 
    color: white;
    left: 1%;
    font-family: 'Press Start 2P';
}

.game-over-message {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
    display: none; 
    color: white;
    font-family: 'Press Start 2P';
    z-index: 9999;
    text-align: center;
  }


.MovementText{
    font-size: 11px;
    position: absolute;
    bottom: 400px;
    color: black;
    left: 1%;
    font-family: 'Press Start 2P';
    z-index: 9999;
}
